<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="noticias.component.css">
</head>
<body>
    <div class="card" id="noticias">
        <div class="header">
            Notícias
            <hr>
        </div>
        <div id="listaNoticias">
            <b>Aula Pública</b>
            <p>Além do bairro, a aula pública também pode percorrer outros pontos da cidade. No caso da Escola Municipal ACM, locais da região central de Itabuna foram explorados, como o UFSB, Museu Catavento, Câmara Municipal, centros culturais e o Museu da Imigração Japonesa..</p>
            <br>
        </div>
    </div>
</body>
</html>
